@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    font-family: var(--font-open);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-playfair);
}

.slide-container {
    overflow: hidden;
}

.slide {
    animation: scroll 80s linear infinite;
    white-space: nowrap;
}
.slide > div {
    display: inline-block;
    padding: 4px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

ol {
    list-style: auto;
}
ol > li::marker {
    font-weight: bold;
}
